

/* Nation containers styles*/
.nations_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 32px;
    width: 90vw;
    max-width: 1200px;
    justify-items: center;
}

.nation_card {
    width: 200px;
    padding: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nation_flag_img {
    width: 220px;
    height: 220px;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 8px;
    background: transparent;
    transition: 0.5s;
}
.nation_flag_img:hover {
    transform: scale(1.1);
}